@font-face {
   font-family: 'secrcode';
   font-display: swap;
   src: url('file:///D:/Usu%C3%A1rios/Samsung/Clientes/Dr.%20Vittorio%20Lo%20Bianco/Projetos/Site/vittoriolobianco.adv.br/site/fonts/secrcode/font.ttf');
}
