@font-face {
   font-family: 'roboto-light';
   font-display: swap;
   src: url('file:///D:/Usu%C3%A1rios/Samsung/Clientes/Dr.%20Vittorio%20Lo%20Bianco/Projetos/Site/vittoriolobianco.adv.br/site/fonts/roboto-light/font.ttf');
}
